<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>All Wiki Pages - {{.WikiName}}</title>
    <link rel="stylesheet" href="/pub/wiki.css" />
  </head>
  <body>
    <header>
      <span>
        <a href="/">Home</a> &ensp;
        <a href="/pages">Pages</a> &ensp;
        <a href="/deleted">Deleted</a> &ensp;
      </span>
      <form class="search" action="/search">
        Search: <input type="search" class="text" name="q" />
      </form>
      <hr />
    </header>
    <div class="content">
      <h1>All Wiki Pages</h1>

      <ul>
      {{range .List}}
        <li><a href="/{{.}}">{{.}}</a> &emsp; <a href="/edit/{{.}}">edit</a></li>
      {{end}}
      </ul>
    </div>
  </body>
</html>
