<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{if .IsHome}}Home{{else}}{{.Title}}{{end}} - {{.WikiName}}</title>
    <link rel="stylesheet" href="/pub/wiki.css" />
  </head>
  <body>
    <header>
      <span>
        <a href="/">Home</a> &ensp;
        <a href="/pages">Pages</a> &ensp;
        <a href="/deleted">Deleted</a> &ensp;
        | &ensp;
        <a href="/versions/{{.Page}}">Old Versions</a> &ensp;
        <a href="/edit/{{.Page}}{{.Ver}}">Edit Page</a>
      </span>
      <form class="search" action="/search">
        Search: <input type="search" class="text" name="q" />
      </form>
      <hr />
    </header>
    <div class="content">
      <h1>{{.Title}}</h1>

{{.Content}}
    </div>
    <footer>
      <hr />
      Last edited: {{.Mtime}}

      <span id="bottomlinks">
        <a href="/versions/{{.Page}}">Old Versions</a>
        &ensp;
        <a href="/edit/{{.Page}}{{.Ver}}">Edit Page</a>
      </span>

      <form class="search" action="/search">
        Search: <input type="search" class="text" name="q" />
      </form>
    </footer>
  </body>
</html>
