<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Search Results - BWiki</title>
    <link rel="stylesheet" href="/pub/wiki.css" />
  </head>
  <body>
    <header>
      <span>
        <a href="/">Home</a> &ensp;
        <a href="/pages">Pages</a>
        <a href="/deleted">Deleted</a> &ensp;
      </span>
      <form class="search" action="/search">
        Search: <input type="search" class="text" name="q" />
      </form>
      <hr />
    </header>
    <div class="content">
      <h1>Search Results for '{{.Q}}'</h1>

    {{if .Hits}}
      <ul>
      {{range .Hits}}
      <li><a href="/{{.Page}}">{{.Page}}</a> &ensp;{{.Count}}</li>
      {{end}}
      </ul>
    {{else}}
      <p>Nothing found</p>
    {{end}}
    </div>
  </body>
</html>
