<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Versions of {{.Page}} - BWiki</title>
    <link rel="stylesheet" href="/pub/wiki.css" />
  </head>
  <body>
    <header>
      <span>
        <a href="/">Home</a> &ensp;
        <a href="/pages">Pages</a> &ensp;
        <a href="/deleted">Deleted</a> &ensp;
      </span>
      <form class="search" action="/search">
        Search: <input type="search" class="text" name="q" />
      </form>
      <hr />
    </header>
    <div class="content">
      <h1>Versions of {{.Page}}</h1>

      {{$page := .Page}}
      <ul>
        <li>Current Version ({{.Mtime}}) &emsp;<a href="/{{$page}}">view</a> &emsp;<a href="/edit/{{$page}}">edit</a></li>
      {{range .Versions}}
        <li>Version {{.Num}} ({{.Mtime}}) &emsp;<a href="/{{$page}}?ver={{.Num}}">view</a> &emsp;<a href="/edit/{{$page}}?ver={{.Num}}">edit</a></li>
      {{end}}
      </ul>
    </div>
  </body>
</html>
