body {
}

a.new {
   color: #990000;
}

form.search {
   margin-top: 0.5em;
   width: 15em;
}

#preview {
   margin: 1em;
   margin-top: 3em;
}

#bottomlinks {
   float: right;
}

table {
   border-collapse: collapse;
   margin-top: 1em;
   margin-bottom: 1em;
}

th {
   border: 1px solid lightgray;
   text-align: left;
   padding: 1ex;
}

td {
   border: 1px solid lightgray;
   padding: 1ex;
}

div.beloweditor {
   width: 46em;
}

a#toggle {
   float: right;
}

#help {
   margin: 1em;
}
